.header{
    background-color: #003580;
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    position: relative;
}

.headerContainer{
    width: 100%;
    max-width: 1024px;
    margin-bottom: 60px;
}

.headerList{
    display: flex;
    gap: 40px;
}
.headerTitle{
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.headerListItem{
    display: flex;
    align-items: center;
    gap: 10px;
}


.headerBtn{
    margin-top: 20px;
    background-color: #0071c2;
    color: white;
    font-weight: 500;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
}

.headerSearch{
    height: 50px;
    background-color: white;
    border: 3px solid #febb02;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px, 0px;
    position: absolute;
    bottom: -25px;
    width: 100%;
    max-width: 1024px;
}

.headerSearchInput{
    border: none;
    outline: none;
}

.headerSearchText{
    color: lightgray;
    cursor: pointer;
}

.headerIcon {
    color: lightgray;
    margin-right: 10px;
    font-size: 15px;
}

.date{
    position: absolute;
    top: 50px;
    right: 300px;
}

.buttonUI{
    border: #003580 solid;
    position: absolute;
    bottom: -80px;
}

.buttonUI span{
    color:#003580
}

.options{
    position: absolute;
    top: 50px;
    background-color: white;
    color:gray;
    border-radius: 5px;
    border: #79aed4 solid;
}

.optionItem{
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 10px;    
}

.optionCounter{
    display: flex;
    align-items: center;
    gap: 10px;
}